

.certainh1{
	font-size:40px;
}


.whitetd {
	width: 33.3333%;
	background-color: white;
	color: black;
}

.blacktd {
	width: 33.3333%;
	background-color: black;
	color:white;
}










